<p id="notice"><%= notice %></p>

<h1>Rains</h1>
<%= column_chart Rain.pluck(:month, :quantity) %>
<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rains.each do |rain| %>
      <tr>
        <td><%= rain.month %></td>
        <td><%= rain.quantity %></td>
        <td><%= link_to 'Show', rain %></td>
        <td><%= link_to 'Edit', edit_rain_path(rain) %></td>
        <td><%= link_to 'Destroy', rain, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Rain', new_rain_path %>
